<div class="modal-dialog">
    <!-- Modal content-->

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@TempData["Remark"] Remark</h4>
        </div>
       
            <div class="modal-body">
                <table class="table tables table-bordered">
                    <tbody>
                            <tr class="success" translate="no">
                                @Html.Raw(@TempData["Remark-Description"])
                            </tr>    
                    </tbody>
                </table>
            </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>

