@{
    Layout = "~/Views/Shared/_LayoutSiteMaster.cshtml";
}

<style>
    body {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='660' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1241%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(248%2c 248%2c 248%2c 1)'%3e%3c/rect%3e%3cpath d='M13.197963904862867 379.4869359713101L148.14769252984414 410.64253571184514 179.3032922703792 275.6928070868639 44.35356364539791 244.53720734632884z' fill='rgba(88%2c 90%2c 163%2c 0.09)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1315.3113420045688 292.81514066608815L1342.3442777630423 409.9076497149893 1459.4367868119434 382.8747139565158 1432.40385105347 265.7822049076147z' fill='rgba(88%2c 90%2c 163%2c 0.09)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M689.8295181336518 578.1535310769359L853.0324880130232 564.0318347616917 772.9571007856034 445.3151911197757z' fill='rgba(88%2c 90%2c 163%2c 0.09)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1349.7846482132109 326.10177278081545L1330.2897638616612 215.54078958232193 1219.7287806631678 235.0356739338716 1239.2236650147174 345.5966571323651z' fill='rgba(88%2c 90%2c 163%2c 0.09)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1056.6952068183666 46.93598434847783L1112.8088771427933 86.22719930625597 1143.6888644172473-17.588913659273324z' fill='rgba(88%2c 90%2c 163%2c 0.09)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1241'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    }
</style>
<div class="maincontainer">
    <div class="col-sm-12">
        <div class="form-horizontal">
            <div class="container" style="padding: 120px 0px;">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <img src="~/img/breaked1.png" alt="" class="breaked" style="width:20%;display: block;margin: auto; margin-top: -25px;">
                        <h2 style="    font-size: 3.3em;color: #0a6340;font-weight: 600;text-align: center;">
                            Even the Things We Love <br>
                            Break Sometimes
                        </h2>
                        <h4 style="color: #585aa3;font-size: 1.5em;font-weight: 600;text-align: center;">Thanks for your Patience While We Put the Pieces Back</h4>
                        <h4 style="font-size: 1.2em; line-height: 1.2em;    font-weight: 600;text-align: center;">
                            Sorry Something Went Wrong, Please Try after Sometime or Contact to Our Support Team
                        </h4>

                    </div>
                    <!--
                                <div class="col-sm-6 col-md-6 col-lg-6">

                                </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>