@{
    ViewBag.Title = "AddModifiyTargetSale";
    Layout = "~/Views/Shared/_LayoutSiteMaster.cshtml";
}

<div class="maincontainer">
    <div class="col-sm-12">
        <div class="col-sm-4 padd0">
        </div>
        <div class="col-sm-8 ovtime"></div>
        <div class="col-sm-12">
            <div class="panel panel-info new_activity_form">
                <div class="panel-heading">
                    <strong>Create Sales Target & Performance</strong>
                    <div class="row" style="padding-right: 2.5%;">
                        <div class="col-sm-9 padd0"></div>
                        <div class="col-sm-3 padd0 developer_paddo">
                            <input type="submit" name="Submit" value="Save" class="btn btn-success btnSave pull-right" id="btnSaveTarget">
                            <input type="button" value="Back" class="btn btn-danger  pull-right" style="margin-right: 5px;" onclick="location.href = '/home/viewleads'" />
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Name of Sale Person</label>
                            <div class="col-sm-3">
                               
                            </div>
                            <label class="control-label col-sm-2">Sale Target of Month <span class="madatoryfield">*</span></label>
                            <div class="col-sm-3">
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Total Target Amount</label>
                            <div class="col-sm-3">
                              
                            </div>
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-3">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
