<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="SMTPuser" value="demo@projectupdate.info" />
    <add key="SMTPUserName" value=" Nicole Infosoft Team" />
    <add key="SMTPpassword" value="Demo#1234" />
    <add key="SMTPserverport" value="25" />
    <add key="SMTPserver" value="mail.projectupdate.info" />-->
    <add key="SMTPuser" value="AKIATR34ERRAV53POMOR" />
    <add key="SMTPUserName" value="Smart Capita" />
    <add key="SMTPpassword" value="BHmh2uFTDbpGlCtLfLhAuXO/j5R4BNQTwBiNxzYvqgIC" />
    <add key="SMTPserverport" value="465" />
    <add key="SMTPserver" value="email-smtp.ap-south-1.amazonaws.com" />
    <add key="Constr" value="server=localhost;user id=root;password=nipl@123;port=3309;database=nisreport; providerName=System.Data.EntityClient" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FolderPath" value="~/ExcelFileUpload/" />
    <add key="CompanyID" value="1" />
    <add key="BranchID" value="1" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="20" mode="InProc" cookieless="false" />
    <globalization uiCulture="en" culture="en-GB" />
    <httpRuntime requestValidationMode="2.0" targetFramework="4.6" maxRequestLength="52428800" executionTimeout="300" />
    <compilation targetFramework="4.6" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <!--<customErrors mode="On" defaultRedirect="/Error/internalservererror">
      <error statusCode="404" redirect="/Error/NotFound" />
    </customErrors>-->
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
        <!--50MB-->
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </handlers>
    <!--<rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false"/>
          <conditions>
            <add input="{HTTPS}" pattern="off"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR={1};IMEX=1;ImportMixedType=Text;TypeGuessRows=0'" />
    <!--CRM AWS Live server-->
    <add name="_ConnectionString" connectionString="server=ventur-mysql-8.cvv1c60wlhjp.ap-south-1.rds.amazonaws.com;user id=crm_data;password=4zRVohgMt8t0XneV;port=3306;database=smart_capita_live;Convert Zero Datetime=True;default command timeout=0" providerName="MySql.Data.MySqlClient" />
    <!--<add name="niscrmEntities" connectionString="metadata=res://*/EF.niscrm.csdl|res://*/EF.niscrm.ssdl|res://*/EF.niscrm.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=ventur-mysql-8.cvv1c60wlhjp.ap-south-1.rds.amazonaws.com;user id=crm_data;password=4zRVohgMt8t0XneV;port=3306;Convert Zero Datetime=True;default command timeout=0;database=smart_capita_live;&quot;" providerName="System.Data.EntityClient" />-->
    <!--CRM AWS demo3 live-->
    <!--<add name="_ConnectionString" connectionString="server=ventur-mysql-8.cvv1c60wlhjp.ap-south-1.rds.amazonaws.com;user id=smartcapitalive;password=04ePn^x$2SMTnI;Persist Security Info=True;port=3306;database=shouldi_post_testing2;Convert Zero Datetime=True;" providerName="mysql.data.mysqlclient" />
      <add name="niscrmEntities" connectionString="metadata=res://*/EF.niscrm.csdl|res://*/EF.niscrm.ssdl|res://*/EF.niscrm.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=ventur-mysql-8.cvv1c60wlhjp.ap-south-1.rds.amazonaws.com;user id=smartcapitalive;password=04ePn^x$2SMTnI;persistsecurityinfo=True;port=3306;database=shouldi_post_testing2;convertzerodatetime=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--CRM AWS test server demo3 live testing-->
    <!--<add name="_ConnectionString" connectionString="server=ventur-mysql-8.cvv1c60wlhjp.ap-south-1.rds.amazonaws.com;user id=smartcapitatest;password=iM242w*q;Persist Security Info=True;port=3306;database=shouldi_post_testing2;Convert Zero Datetime=True;" providerName="mysql.data.mysqlclient" />
    <add name="niscrmEntities" connectionString="metadata=res://*/ef.niscrm.csdl|res://*/ef.niscrm.ssdl|res://*/ef.niscrm.msl;provider=mysql.data.mysqlclient;provider connection string=&quot;server=ventur-mysql-8.cvv1c60wlhjp.ap-south-1.rds.amazonaws.com;user id=smartcapitatest;password=iM242w*q;persistsecurityinfo=true;port=3306;database=shouldi_post_testing2;Convert Zero Datetime=True;&quot;" providerName="system.data.entityclient" />-->
    <add name="niscrmEntities" connectionString="metadata=res://*/EF.niscrm.csdl|res://*/EF.niscrm.ssdl|res://*/EF.niscrm.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=ventur-mysql-8.cvv1c60wlhjp.ap-south-1.rds.amazonaws.com;user id=crm_data;password=4zRVohgMt8t0XneV;port=3306;convertzerodatetime=True;defaultcommandtimeout=0;database=smart_capita_live;sslmode=None&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />-->
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.28.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.10.0" newVersion="6.9.10.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.31.0" newVersion="8.0.31.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.4.0" newVersion="3.19.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 6AB15AD8-0571-491B-B04C-2CC031C59BA2-->