@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alert</title>

    <style>
        body {background:#ffe7e7;
        }
            .messagecontainer {text-align: center;
            font-size: 12px !important;
            font-family: Arial;
            color: #dd0000;
            margin-top: 12%;
            text-shadow: 1px 0 0 #fff; line-height:30px;
        }



    </style>
</head>
<body>
    <div class="messagecontainer">
        <img src="~/img/Warning.png" />
        <h1>Sorry! You can not login through Mobile. </h1>
    </div>
</body>
</html>
